
.form-container {
    .form-title {
        text-align: center;
        padding: 2rem 0rem 0rem 0rem;
    }

    .form-required {
        padding-right: 12rem;
        width: 50%;
        margin: auto;
        height: 50%;
        /* justify-content: center; */
        padding-top: 1rem;
    }
}