.user-home {
    display: flex;

    .user-sidebar {
        margin: 4rem 0rem 0rem 0rem;
        // flex: 0.5;
    }

    .user-container {
        flex: 9;
    }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #5e43b6  !important;
}

.ant-tabs-ink-bar {
    background: #5e43b6  !important;
}

.ant-tabs-tab-btn{
    font-size: 13px;
    span {
        svg {
            padding-right: 3px;
        }
    }
}